@mixin lg {
    @include media-breakpoint-up(lg) {
       @content
      }
};

@mixin md {
    @include media-breakpoint-up(md) {
       @content
      }
};
@mixin sm {
    @include media-breakpoint-up(sm) {
       @content
      }
};

.go-top {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 40px;
    right: 40px;
    opacity: 0;
    border-radius: 50%;
    box-shadow: 0 1px 5px #adb5bd;
    background-color: #fff;
    transition: all 0.2s ease-out;
    
} 