//Dashboard
.admin-dashboard {
    height: 100vh;
    background-color: #fff;
    position: relative;
}

//Navigation
.nav-link-title {
    white-space:nowrap;
}
.navigation {
    position: fixed;
    background: $primary;
    width: 60px;
    height: 100%;
    padding-left: 10px;
    transition: 0.5s;
    @include md {
        width: 200px;
    }
    &.active {
    width: 60px;
.nav-link-title {
white-space:nowrap;
}
    }
}

.navigation-list {
    &-item {
        font-size: 1.5rem;
        line-height: 2;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;

        a {
            display: block;
            width: 100%;
        }

    }
    
    .active {
        background-color: #fff;

        a {
            color: $primary;
            position: relative;
        }

        a::before {
            position: absolute;
            content: "";
            top: -30px;
            right: 0;
            width: 30px;
            height: 30px;

            border-radius: 50%;
            box-shadow: 25px 25px 0 10px (white);
            pointer-events: none;
        }

        a::after {
            position: absolute;
            content: "";
            bottom: -30px;
            right: 0;
            width: 30px;
            height: 30px;

            border-radius: 50%;
            box-shadow: 25px -25px 0 10px (white);
            pointer-events: none;
        }

    }

    a {
        color: $white;
    }

    
    .nav-link-icon {
       // padding: 10px 0;
    }

}

.admin-container {
  
    max-width: 100%;
    
}
main {
    position: absolute;
    top: 0;
    left: 60px;
    width: calc(100% - 60px);
    min-height: 100%;
    background-color: #fff;
    transition: 0.5s;

    &.active {
        left: 60px;
    width: calc(100% - 60px);
    }

    .toggle {
        cursor: pointer;
    }
    @include  md {
        left: 200px;
        width: calc(100% - 200px);
    }
}



.admin-orders, .admin-products, .admin-categories, .admin-articles {
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
}