.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}

.navbar-brand {
    padding: 0;
    height: 50px;

    img {
        max-height: 100%;
    }
}

.icon-list {
    height: 50px;
    align-items: center;
}


//toggle

.navicon-button {
    display: inline-block;
    position: relative;
padding-left: 1.5rem;
    transition: all 0.25s;
    cursor: pointer;
 

    .navicon:before,
    .navicon:after {
        transition: all 0.25s;
    }

    &:hover {
        transition: .5s;
        opacity: 1;

        .navicon:before,
        .navicon:after {
            transition: all 0.25s;
        }

        .navicon:before {
            top: .7rem;
        }

        .navicon:after {
            top: -.7rem;
        }
    }
}

.navicon {
    position: relative;
    width: 2em;
    height: .3125rem;
    background: #000;
    transition: all .5s;
   

    &:before,
    &:after {
        display: block;
        content: "";
        height: .3125rem;
        width: 2rem;
        background: #000;
        position: absolute;
        z-index: -2;
        transition: 0.5s 0.25s;
    }

    &:before {
        top: .625rem;
    }

    &:after {
        top: -.625rem;
    }
}

.open:not(.steps) .navicon:before,
.open:not(.steps) .navicon:after {
    top: 0 !important;
}

.open .navicon:before,
.open .navicon:after {
    transition: .5s;
}

.open {
    transform: scale(.75);
    z-index: 99;
    .navicon {
        background: transparent;
        

        &:before {
            transform: rotate(-45deg);
        }

        &:after {
            transform: rotate(45deg);
        }
    }
}

.navbar-collapse {
    position: fixed;
    top: 66px;
    right:0;
    left: 0;
    height: 100%;
    background: $primary;
    transition: all .2s ease-in;
    
    .nav-item {
        display: flex;
    }
    .nav-item a {
        padding: 0.5rem 0.75rem;
        border-radius: 8px;
        color: #000;
        &:hover {
            background: #fff;
            color: $primary;
            
        
      }
    }


    @include lg {
        position: static;
        display: flex;
    }
}