.banner {
    position: relative;
    &-img {
        object-fit: cover;
        width: 100%;
        max-height: 600px;
        min-height: 450px;
    }
    .content {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0.5rem;
        
    } 
    .title {
        font-size: 32px;
        @include md {
            font-size: 48px;
        }
    }
    a{
        border-radius: 100px;
    }
    .scroll-btn {
        position: absolute;
        bottom: 1rem;
        left: 50%;
        transform: translateX(-50%);
        font-size: 40px;
        border: 3px solid white;
        border-radius: 50%;
        cursor: pointer;
        transition: all .2s ease-in;
        &:hover {
            transform: translateX(-50%) scale(1.2);
           
        }
    }
}

.about {
    &-title {
        font-size: 48px;
        text-align: end;
        transition: all 0.2s ease-in;

        @include sm {
            font-size: 100px;
        }

        @include lg {
            font-size: 160px;
        }
    }

}

.home-categories {
    &-title {
        font-size: 48px;
        text-align: start;
        transition: all 0.2s ease-in;

        @include sm {
            font-size: 100px;
        }

        @include lg {
            font-size: 160px;
        }
    }

    &-list-item {
        border: 1px solid $primary;
        height: 100%;
        position: relative;
        transition: all 0.2s ease-in-out;

        &::before {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            opacity: 0.4;
            background-color: $gray-300;
            transition: all 0.3s ease-in;
        }

    }

    a:hover {
        .home-categories-list-item {
            transform: scale(1.1);

            &::before {
                
              background-color: transparent;
              border: 8px solid $gray-300;

            }
        }
    }
    a:last-child {
        .home-categories-list-item {
            &::before {
                opacity: 0;
            }
        }
    }

    &-list-item-name {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        transform: translateY(-50%);
        text-align: center;
        font-size: 1.3rem;
        font-weight: bold;
        color: #fff;
        z-index: 5;

        @include sm {
            font-size: 1.5rem;
        }
    }

    &-list-item-img {
        object-fit: cover;
        max-width: 100%;
        aspect-ratio: 1 / 1;
    }

}

.home-products-card {
    border: 1px solid $primary;
    border-radius: 30px;

    &-img {
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        transition: all 0.2s ease-out;
    }
}

.home-products-card-sub {
    border: 1px solid $primary;
    border-radius: 30px;

    &-img {
        min-height: 100%;
        object-fit: cover;
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
        transition: all 0.2s ease-out;
    }

    @include md {
        height: calc(50% - 0.5rem);

        .img-wrapper {
            width: 50%;
        }

        &-img {
            border-top-right-radius: 0px;
            border-bottom-left-radius: 30px;
        }
    }

}

.home-products {
    a:hover {
        img {
            transform: scale(1.1);
        }
    }
}